*,
*:before,
*:after
{
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    display: flex;
    flex-flow: row wrap;

    min-height: 100vh;
}

main
{
  display: flex;
}

h2
{
  text-align: center;
}

.map
{
  width: 80vw;
  height: 80vh;
}

.information
{
  width: 20vw;
  height: 80vh;
  background: rgb(96, 91, 91);
}

.test
{
  width: 100vw;
  height: 20vh;
  background: rgb(18, 113, 13);
}

#test
{
  width: 300px;
  height: 500px;
  position: absolute;
  overflow: scroll;
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}
#test h3
{
  color: black;
  margin: 0;
  padding: 0;
  text-align: center;
}
